[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        unspecified-encoding,
        redefined-outer-name,
        invalid-name,
        c-extension-no-member,
        line-too-long,
        broad-exception-caught,
        no-self-argument,
        no-method-argument,
        too-many-locals,
        too-many-branches,
        too-many-statements,
        too-many-return-statements,
        duplicate-code,